@import "tailwindcss";

@theme {
  --color-primary: #18b1b1;
  --color-brandgray: #444443;
  --color-brandlight: #7a7a7a;
  --color-light-bg: #f6f6f6;
}

body {
  color: var(--color-brandgray);
  background: white;
}
